body, html{
    height:100%;
} 

#main{
    min-height:100%;
    margin:0 auto;
    position: relative;
    padding-bottom: 6rem;
}

.entete div h3{
    margin: 1rem !important;
}

.logo{
    text-decoration: none;
}

.navbar-menu a{
    margin: 1rem !important;
    font-size: 1.5rem;
}

.navbar-menu a:hover{
    text-decoration: underline !important;
}

.form-control{
    margin-bottom: 1.1rem !important;
}

.form-patient-ajout{
    padding: 3rem !important;
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 1rem;
    box-shadow: 0 0 10px black;
}

.form-patient-modif{
    padding: 3rem !important;
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 1rem;
    box-shadow: 0 0 10px black;
}

.form-patient-rendezvous{
    padding: 3rem !important;
    background-color: rgba(10, 22, 190, 0.164);
    border-radius: 1rem;
    box-shadow: 0 0 10px black;
}

.lien-patient-table{
    text-decoration: underline !important;
    color: blue;
}

.bouton-accueil{
    height: 20rem;
    width: 20rem;
    background-color: rgba(8, 21, 209, 0.808);
    border-radius: 1.2rem;
    padding: auto !important;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-wrap: wrap !important;
    font-size: 2rem;
    color: white;
    text-transform: uppercase !important ;
    margin: 1rem 1rem!important;
    text-decoration: none;
}

.bouton-accueil:hover {
    color: white;
    text-shadow: 2px 2px 2px black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
}

footer{
    background:#ccc;
    position:absolute;
    bottom:0;
    width:100%!important;
}
